// Place all the styles related to the api/v1/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frame {
    height: 400px;
    background: transparent no-repeat center;
    background-size: cover;
  }

  h5 {
      white-space: pre-line;
  }